.primary-content-wrapper {
  flex: 0 0 40vw;
  width: 40vw;
  border-radius: var(--border-radius-container-xl);
  transition: transform 0.08s ease-out, opacity 0.1s linear, filter 0.1s linear;
  min-height: 60vh;
  max-height: 80vh;
  background-image: linear-gradient(
    135deg,
    color-mix(in srgb, var(--color-gray1) 30%, transparent),
    color-mix(in srgb, var(--color-gray2) 30%, transparent) 40%
  );
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: inset 0 0 0 1px
      color-mix(in srgb, var(--color-gray1) 10%, transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, var(--color-gray1) 90%, transparent),
    inset -2px -2px 0px -2px color-mix(in srgb, var(--color-gray1) 30%, transparent),
    inset -3px -12px 1px -8px color-mix(in srgb, var(--color-gray1) 10%, transparent),
    inset -0.3px -1px 4px 0px
      color-mix(in srgb, #000 calc(1 * 12%), transparent),
    inset -1.5px 2.5px 0px -2px
      color-mix(in srgb, #000 calc(1 * 20%), transparent),
    inset 0px 3px 4px -2px color-mix(in srgb, #000 calc(1 * 20%), transparent),
    inset 2px -6.5px 1px -4px
      color-mix(in srgb, #000 calc(1 * 10%), transparent),
    0px 1px 5px 0px color-mix(in srgb, #000 calc(1 * 10%), transparent),
    0px 6px 16px 0px color-mix(in srgb, #000 calc(1 * 8%), transparent);
}

.dark .primary-content-wrapper {
  background-image: linear-gradient(
    135deg,
    color-mix(in srgb, var(--color-gray3) 20%, transparent),
    color-mix(in srgb, var(--color-gray2) 20%, transparent) 30%
  );
  box-shadow: inset 0 0 0 1px
      color-mix(in srgb, var(--color-gray8) 4%, transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, var(--color-gray8) 12%, transparent),
    inset -2px -2px 0px -2px color-mix(in srgb, var(--color-gray8) 10%, transparent),
    inset -3px -8px 1px -6px color-mix(in srgb, var(--color-gray8) 8%, transparent),
    inset -0.3px -1px 4px 0px
      color-mix(in srgb, var(--color-gray7) calc(1 * 25%), transparent),
    inset -1.5px 2.5px 0px -2px
      color-mix(in srgb, #000000 calc(1 * 30%), transparent),
    inset 0px 3px 4px -2px color-mix(in srgb, #000 calc(1 * 30%), transparent),
    inset 2px -6.5px 1px -4px
      color-mix(in srgb, #000000 calc(1 * 25%), transparent),
    0px 1px 5px 0px color-mix(in srgb, #000000 calc(1 * 15%), transparent),
    0px 6px 16px 0px color-mix(in srgb, #000000 calc(1 * 12%), transparent);
}

.primary-content-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 3rem;
  width: 100%;
  min-height: 60vh;
  max-height: 80vh;
  background: transparent;
  border: none;
  border-radius: var(--border-radius-container-xl);
  color: var(--text-primary);
  text-align: center;
  font-family: var(--font-family-persian);
  position: relative;
  z-index: 0;
  transition: all var(--transition-speed) ease;
}

.primary-content-title {
  font-size: 2.5rem;
  margin: 0;
}

.primary-content-subtitle {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 200;
  opacity: 0.8;
}

.primary-content-description {
  font-size: 1rem;
  margin-top: 3rem;
  opacity: 0.8;
}

.primary-content-buttons {
  display: flex;
  gap: 1rem;
}

.button-content {
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.button-text-secondary {
  font-size: 1rem;
  font-weight: 500;
  color: var(--btn-secondary-text);
  transition: color 0.3s;
  letter-spacing: 0.05em;
  font-family: "Inter", sans-serif;
}

.button-text-primary {
  font-size: 1rem;
  font-weight: bold;
  color: var(--btn-primary-text);
  letter-spacing: 0.05em;
  text-shadow: 0 2px 10px var(--shadow-color);
  font-family: "Inter", sans-serif;
  transition: color var(--transition-speed) ease;
}
