.glass-modal-effect {
  backdrop-filter: blur(10px) saturate(1.8) brightness(1.2);
  -webkit-backdrop-filter: blur(10px) saturate(1.8) brightness(1.2);
  animation: backdropBlur 2s ease-in-out forwards;
}

@keyframes backdropBlur {
  from {
    backdrop-filter: blur(0px) saturate(1) brightness(1);
    -webkit-backdrop-filter: blur(0px) saturate(1) brightness(1);
  }
  to {
    backdrop-filter: blur(30px) saturate(7) brightness(1.2);
    -webkit-backdrop-filter: blur(7px) saturate(7) brightness(1.2);
  }
}

@keyframes backdropBlurDark {
  from {
    backdrop-filter: blur(0px) saturate(1) brightness(1);
    -webkit-backdrop-filter: blur(0px) saturate(1) brightness(0.8);
  }
  to {
    backdrop-filter: blur(30px) saturate(7) brightness(0.8);
    -webkit-backdrop-filter: blur(7px) saturate(7) brightness(0.8);
  }
}

.glass-modal-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5),
    rgba(0, 0, 0, 0.05) 60%
  );
  box-shadow:
    inset 0 0 0 1px color-mix(in srgb, #fff calc(1 * 10%), transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, #fff calc(1 * 90%), transparent),
    inset -2px -2px 0px -2px color-mix(in srgb, #fff calc(1 * 80%), transparent),
    inset -3px -8px 1px -6px color-mix(in srgb, #fff calc(1 * 60%), transparent),
    inset -0.3px -1px 4px 0px
      color-mix(in srgb, #000 calc(1 * 12%), transparent),
    inset -1.5px 2.5px 0px -2px
      color-mix(in srgb, #000 calc(1 * 20%), transparent),
    inset 0px 3px 4px -2px color-mix(in srgb, #000 calc(1 * 20%), transparent),
    inset 2px -6.5px 1px -4px
      color-mix(in srgb, #000 calc(1 * 10%), transparent),
    0px 1px 5px 0px color-mix(in srgb, #000 calc(1 * 10%), transparent),
    0px 6px 16px 0px color-mix(in srgb, #000 calc(1 * 8%), transparent);
}

[data-theme="dark"] .glass-modal-effect {
  animation-name: backdropBlurDark;
}

[data-theme="dark"] .glass-modal-effect::before {
  background-image: linear-gradient(
    135deg,
    rgba(104, 104, 104, 0.3),
    rgba(0, 0, 0, 0.3) 30%
  );
  box-shadow:
    inset 0 0 0 1px color-mix(in srgb, var(--color-gray8) 4%, transparent),
    inset 1.8px 3px 0px -2px
      color-mix(in srgb, var(--color-gray8) 12%, transparent),
    inset -2px -2px 0px -2px
      color-mix(in srgb, var(--color-gray8) 10%, transparent),
    inset -3px -8px 1px -6px
      color-mix(in srgb, var(--color-gray8) 8%, transparent),
    inset -0.3px -1px 4px 0px
      color-mix(in srgb, #000 calc(1 * 25%), transparent),
    inset -1.5px 2.5px 0px -2px
      color-mix(in srgb, #000 calc(1 * 30%), transparent),
    inset 0px 3px 4px -2px color-mix(in srgb, #000 calc(1 * 30%), transparent),
    inset 2px -6.5px 1px -4px
      color-mix(in srgb, #000 calc(1 * 25%), transparent),
    0px 1px 5px 0px color-mix(in srgb, #000 calc(1 * 15%), transparent),
    0px 6px 16px 0px color-mix(in srgb, #000 calc(1 * 12%), transparent);
}

.modal-offset-down {
  transform: translateY(2rem) !important;
}
