.secondary-content-wrapper {
  flex: 0 0 40vw;
  width: 40vw;
  margin-left: auto;
  border-radius: var(--border-radius-container-xl);
  transition: opacity 0.08s linear, transform 0.08s ease-out, filter 0.1s linear;
  background-image: linear-gradient(
    135deg,
    color-mix(in srgb, var(--color-gray1) 30%, transparent),
    color-mix(in srgb, var(--color-gray2) 30%, transparent) 40%
  );
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  box-shadow: inset 0 0 0 1px
      color-mix(in srgb, var(--color-gray1) 10%, transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, var(--color-gray1) 90%, transparent),
    inset -2px -2px 0px -2px color-mix(in srgb, var(--color-gray1) 30%, transparent),
    inset -3px -12px 1px -8px color-mix(in srgb, var(--color-gray1) 10%, transparent),
    inset -0.3px -1px 4px 0px
      color-mix(in srgb, #000 calc(1 * 12%), transparent),
    inset -1.5px 2.5px 0px -2px
      color-mix(in srgb, #000 calc(1 * 20%), transparent),
    inset 0px 3px 4px -2px color-mix(in srgb, #000 calc(1 * 20%), transparent),
    inset 2px -6.5px 1px -4px
      color-mix(in srgb, #000 calc(1 * 10%), transparent),
    0px 1px 5px 0px color-mix(in srgb, #000 calc(1 * 10%), transparent),
    0px 6px 16px 0px color-mix(in srgb, #000 calc(1 * 8%), transparent);
}

.dark .secondary-content-wrapper {
  background-image: linear-gradient(
    135deg,
    color-mix(in srgb, var(--color-gray3) 20%, transparent),
    color-mix(in srgb, var(--color-gray2) 20%, transparent) 30%
  );
  box-shadow: inset 0 0 0 1px
      color-mix(in srgb, var(--color-gray8) 4%, transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, var(--color-gray8) 12%, transparent),
    inset -2px -2px 0px -2px color-mix(in srgb, var(--color-gray8) 10%, transparent),
    inset -3px -8px 1px -6px color-mix(in srgb, var(--color-gray8) 8%, transparent),
    inset -0.3px -1px 4px 0px
      color-mix(in srgb, var(--color-gray7) calc(1 * 25%), transparent),
    inset -1.5px 2.5px 0px -2px
      color-mix(in srgb, #000000 calc(1 * 30%), transparent),
    inset 0px 3px 4px -2px color-mix(in srgb, #000 calc(1 * 30%), transparent),
    inset 2px -6.5px 1px -4px
      color-mix(in srgb, #000000 calc(1 * 25%), transparent),
    0px 1px 5px 0px color-mix(in srgb, #000000 calc(1 * 15%), transparent),
    0px 6px 16px 0px color-mix(in srgb, #000000 calc(1 * 12%), transparent);
}

.secondary-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 2.25rem;
  width: 100%;
  min-height: 50vh;
  background: transparent;
  border: none;
  border-radius: var(--border-radius-container-xl);
  color: var(--text-primary);
  text-align: right;
  font-family: var(--font-family-persian);
  direction: rtl;
  position: relative;
  z-index: 0;
  transition: all var(--transition-speed) ease;
}
